* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  margin: 0 auto;
  max-width: 1600px;
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px
}

.patientList {
  
  max-width: 800px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.patientListHead {
  display: flex;
  gap: 20px;
}

span {
  border-bottom: 1px solid transparent;
}

span:hover {
  cursor: pointer;
  box-shadow: 0 0 0 1px black

}
.patientInfo {
  max-width: 800px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.active {
  color:blue;
  border-color: blue;
}

.infoTable {
  margin-top: 24px;
}